@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: "IBM Plex Sans", "Segoe UI", sans-serif;
  color: #111827;
  background: #f3f4f6;
}

.markdown-editor > * {
  all: revert;
}
